# =========================
# VSCode
# =========================
.vscode/
*.code-workspace

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pycache/
*.log

# =========================
# Virtual environment
# =========================
.env
venv/
.venv/

# =========================
# Docker volumes / data
# =========================
mongo_data/
docker_data/
*.db
*.sqlite

# =========================
# System / temporary files/folers
# =========================
.DS_Store
Thumbs.db
logs/